<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    &lt;!&ndash;Redis连接池的配置&ndash;&gt;-->
    <!--    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
    <!--        &lt;!&ndash;控制一个pool分配多少个jedis实例&ndash;&gt;-->
    <!--        <property name="maxTotal" value="${redis.pool.maxActive}"/>-->
    <!--        &lt;!&ndash;连接池中最多可空闲maxIdle个连接，这里取值为20，表示即使没有数据库连接时依然可以保持20空闲的连接&ndash;&gt;-->
    <!--        <property name="maxIdle" value="${redis.pool.maxIdle}"/>-->
    <!--        &lt;!&ndash;最大等待时间：当没有可用连接时，连接池等待连接被归还的最大时间（以毫秒计数），超过时间抛出异常&ndash;&gt;-->
    <!--        <property name="maxWaitMillis" value="${redis.pool.maxWait}"/>-->
    <!--        &lt;!&ndash;在获取连接的时候检查有效性&ndash;&gt;-->
    <!--        <property name="testOnBorrow" value="${redis.pool.testOnBorrow}"/>-->
    <!--    </bean>-->

    <!--    &lt;!&ndash;创建Redis连接池，并做相关配置&ndash;&gt;-->
    <!--    <bean id="jedisWritePool" class="com.imooc.o2o.cache.JedisPoolWriper" depends-on="jedisPoolConfig">-->
    <!--        <constructor-arg index="0" ref="jedisPoolConfig"/>-->
    <!--        <constructor-arg index="1" value="${redis.hostname}"/>-->
    <!--        <constructor-arg index="2" value="${redis.port}" type="int"/>-->
    <!--    </bean>-->

    <!--    <bean id="jedisUtil" class="com.imooc.o2o.cache.JedisUtil"-->
    <!--          scope="singleton">-->
    <!--        <property name="jedisPool">-->
    <!--            <ref bean="jedisWritePool" />-->
    <!--        </property>-->
    <!--    </bean>-->

    <!--    <bean id="jedisKeys" class="com.imooc.o2o.cache.JedisUtil$Keys"-->
    <!--          scope="singleton">-->
    <!--        &lt;!&ndash;        <constructor-arg ref="jedisUtil"></constructor-arg>&ndash;&gt;-->
    <!--    </bean>-->

    <!--    <bean id="jedisStrings" class="com.imooc.o2o.cache.JedisUtil$Strings"-->
    <!--          scope="singleton">-->
    <!--        &lt;!&ndash;        <constructor-arg ref="jedisUtil"></constructor-arg>&ndash;&gt;-->
    <!--    </bean>-->

    <!--    <bean id="jedisLists" class="com.imooc.o2o.cache.JedisUtil$Lists"-->
    <!--          scope="singleton">-->
    <!--        &lt;!&ndash;        <constructor-arg ref="jedisUtil"></constructor-arg>&ndash;&gt;-->
    <!--    </bean>-->

    <!--    <bean id="jedisSets" class="com.imooc.o2o.cache.JedisUtil$Sets"-->
    <!--          scope="singleton">-->
    <!--        &lt;!&ndash;        <constructor-arg ref="jedisUtil"></constructor-arg>&ndash;&gt;-->
    <!--    </bean>-->

    <!--    <bean id="jedisHash" class="com.imooc.o2o.cache.JedisUtil$Hash"-->
    <!--          scope="singleton">-->
    <!--        &lt;!&ndash;        <constructor-arg ref="jedisUtil"></constructor-arg>&ndash;&gt;-->
    <!--    </bean>-->
</beans>