<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.imooc.o2o.web"/>

    <!--开启mvc注解模式，requestMapping注解-->
    <mvc:annotation-driven/>

    <!--静态资源默认servlet配置，例如js、gif、png-->
    <!--允许使用/做整体映射-->
    <!--要求相对于根目录resources的为静态文件，dispatchServlet不拦截-->
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <!--拦截html中img的src中含有upload的url，导向的文件位置为本地绝对路径的位置，
    不是在该项目路径下，所以用到了file:字符，用于访问绝对路径-->
    <mvc:resources mapping="/upload/**" location="file:/Users/yizhichangyuan/image/upload/"/>
    <!--静态文件交给默认的servlet来处理-->
    <mvc:default-servlet-handler/>

    <!--定义视图解析器-->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/html/"
          p:suffix=".html"/>

    <!--文件上传解析器，不设置该解析器，则接收不到表单中提交的表单项内容-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--最大文件上传大小，单位为字节B，1024 * 1024 * 20 = 20MB-->
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="maxUploadSize" value="20971520"></property>
        <property name="maxInMemorySize" value="20971520"></property>
    </bean>

    <mvc:interceptors>
        <!--校验店家是否登陆的拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/shopadmin/**"/>
            <bean class="com.imooc.o2o.interceptors.LoginInterceptor"/>
        </mvc:interceptor>
        <!--校验店家是否有该店铺的编辑权限-->
        <mvc:interceptor>
            <mvc:mapping path="/shopadmin/**"/>
            <!--不拦截这的原因在于，getshoplist才是将shopList放入到session中-->
            <mvc:exclude-mapping path="/shopadmin/shoplist"/>
            <mvc:exclude-mapping path="/shopadmin/getshoplist"/>

            <!--不拦截原因，在这里才开始将currentShop放入到session中-->
            <mvc:exclude-mapping path="/shopadmin/shopmanagement"/>
            <mvc:exclude-mapping path="/shopadmin/getshopmanagementinfo"/>
            <mvc:exclude-mapping path="/shopadmin/registershop"/>
            <mvc:exclude-mapping path="/shopadmin/shopoperation"/>
            <bean class="com.imooc.o2o.interceptors.ShopPermissionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>